
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background-color: #e1e7ed;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#arena {
    min-width: fit-content;
    background-color: black;
}